*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    list-style: none;
}

img {

    width: 500px;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 14px hsl(355deg 25%  15% / 10%);
    border: 1px solid rgb(198, 195, 195);
}

.post_description{
    border-top: 1px solid gray;
}

.post_date {
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 4px;
    text-transform: uppercase;
}

.post_views {
    left: 300px;
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
}

.post_description {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
}

ul{
    text-align: center;
    width:100%;
    background-color: #007bff ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 


}

ul a{
    width: 100%;
    color: white;
}

#logo{
    color: white;
    border: 3px solid white;
    padding: 10px;
    text-shadow: 2px 2px 4px  rgba(255, 255, 255, 0.689);

   
}
ul {
   
    justify-content: space-around;
}
p{
    margin: 20px;
}










